    {% for produto in produto_list %}
        <div class="produto-body">
            <div class="produto-piece">
                {{ produto.nome }}
            </div>
            <div class="produto-piece">
                {{ produto.imagem }}
            </div>
            <div class="produto-piece">
                {{ produto.preco_unitario }}
            </div>
            <div class="produto-piece">
                {{ produto.quant_estoque }}
            </div>
            <div class="produto-piece">
                {{ produto.ativo }}
            </div>
        </div>
        <hr>
    {% endfor %}